*{

    font-family:'Arial', sans-serif;
}

.btn-primary {
    background-color: #501B1D;
}

h1 {
    color: #501B1D;
}

td a {
    color: #83677b;
}

.bg-custom {
    background-color: #501B1D;
}

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: 0;
}